<main class="mdc-layout-grid plan-change plan-change--complete" role="main">
  <div class="mdc-layout-grid__inner plan-change__content">
    <h5 class="mdc-layout-grid__cell plan-change__title">
      Change plan is successful!
    </h5>
    <div class="mdc-layout-grid__cell plan-change__image">
      <%= image_tag("doneimage.png", alt: "doneimage") %>
    </div>
    <br />
    <div class="mdc-layout-grid__cell plan-change__footer">
      <%= link_to "Close", "/", class: "btn button button--primary" %>
    </div>
  </div>
</main>
